.u-section-1 .u-sheet-1 {
  min-height: 586px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0.2;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-style: normal;
  text-shadow: 2px 2px 8px rgba(133,142,153,1);
  margin: 53px auto 0;
}

.u-section-1 .u-line-1 {
  margin-top: 38px;
  margin-bottom: 0;
  height: 3px;
  transform-origin: left center 0px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 13px;
  margin-bottom: 37px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 494px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 31px;
}

.u-section-1 .u-text-2 {
  font-size: 1.13333rem;
  font-weight: 700;
  margin: 0 19px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-group-1 {
  min-height: 234px;
  margin-top: 24px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-text-3 {
  font-style: normal;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 19px 19px 0;
}

.u-section-1 .u-text-4 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1rem;
  margin: 13px 19px 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 30px;
  min-height: 16px;
  width: 98px;
  min-width: 70px;
  margin: 26px auto 0 272px;
}

.u-section-1 .u-icon-1 {
  height: 24px;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  --radius: 50px;
  font-size: 0.933333rem;
  font-weight: 700;
  margin: 13px auto 0;
  padding: 8px 35px 9px;
}

.u-section-1 .u-image-1 {
  min-height: 393px;
  --effect-scale: 1.25;
  background-image: url("images/image_50383617.JPG");
  background-position: 50% 50%;
  --radius: 50px;
  transition-duration: 5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 579px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 53px;
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 407px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 324px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 665px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-group-1 {
    min-height: 218px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-left: 13px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 19px;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    min-height: 248px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 792px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 485px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1076px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 12px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-group-1 {
    min-height: 212px;
  }

  .u-section-1 .u-text-4 {
    font-size: 0.866667rem;
    margin-left: 12px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 13px;
  }

  .u-section-1 .u-image-1 {
    min-height: 334px;
    --effect-scale: 0.5;
    transition-duration: 0.75s;
  }
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before,
.u-section-1 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-image-1 {
  transform: scale(1.1) translateX(0px) translateY(0px) rotate(10deg) !important;
}

.u-container-layout.hover > .u-section-1 .u-image-1 {
  transform: scale(1.1) translateX(0px) translateY(0px) rotate(10deg) !important;
}.u-section-2 .u-sheet-1 {
  min-height: 284px;
}

.u-section-2 .u-text-1 {
  margin: 11px 0 0 59px;
}

.u-section-2 .u-icon-1 {
  font-size: 3.0223em;
  margin-left: 0;
  vertical-align: 0px;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 59px 51px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 497px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-style: normal;
  margin: 19px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 13px;
  margin-bottom: 19px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 209px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  font-style: normal;
  margin: 0;
}

.u-section-3 .u-image-1 {
  background-image: url("images/maxresdefault.jpg");
  background-position: 50% 50%;
  min-height: 209px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  min-height: 212px;
  background-image: url("images/f32f7052c05107b87bf0991e0691f2371.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 212px;
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  font-style: normal;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 557px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 172px;
  }

  .u-section-3 .u-image-1 {
    min-height: 172px;
  }

  .u-section-3 .u-image-2 {
    min-height: 175px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 175px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 442px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    min-height: 132px;
  }

  .u-section-3 .u-image-2 {
    min-height: 134px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1094px;
  }

  .u-section-3 .u-image-1 {
    min-height: 283px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 302px;
    order: 1;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-4 {
    order: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 873px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-1 {
    min-height: 178px;
  }

  .u-section-3 .u-image-2 {
    min-height: 190px;
    background-position: 50% 91.54%;
    background-size: cover;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 345px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 43px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 272px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-style: normal;
  margin: 62px auto 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 13px;
  margin: 31px auto 0;
  padding: 12px 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 297px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 51px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 224px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 376px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 47px;
    margin-bottom: 47px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 273px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 632px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 40px;
    margin-bottom: 54px;
  }
}