 .u-section-1 {
  background-image: url("images/8d74a1f62272604f2e6d1f3fe0914622022076f1f2f0bae6687af09e53160619134942cf42ea73cfc61fbc27b590d50e22dfd4d5235aeff88fb10f_1280.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 305px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.u-section-1 .u-image-1 {
  min-height: 245px;
  background-image: url("images/ec25ad6b41eb67e5debf96c7cb0c8eacb877802af59668766027049a9ffdb73fdd4d8dedbf8304fed070785e1a627ec3f570c382bbcf79057cc28a_1280.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 30px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.26667rem;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 245px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  line-height: 2.2;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 4px;
  margin: 47px 0 0;
}

.u-section-1 .u-btn-1 {
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-1 .u-btn-2 {
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-1 .u-image-1 {
    min-height: 549px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 680px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  }

  .u-section-1 .u-btn-1 {
    padding: 0;
  }

  .u-section-1 .u-btn-2 {
    padding: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 81.03% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 292px;
  }

  .u-section-1 .u-image-1 {
    min-height: 326px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 326px;
  }

  .u-section-1 .u-text-2 {
    line-height: 1.4;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 677px;
  }

  .u-section-1 .u-image-1 {
    min-height: 233px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 58px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 100% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 451px;
  }

  .u-section-1 .u-image-1 {
    min-height: 147px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-1 :hover > .u-container-layout .u-btn-1 {
  border-color: transparent !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-1 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-1 .hover > .u-container-layout .u-btn-1 {
  border-color: transparent !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-1 .u-btn-2,
.u-section-1 .u-btn-2:before,
.u-section-1 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-2 {
  border-color: transparent !important;
}

.u-section-1 :hover > .u-container-layout .u-btn-2 {
  border-color: transparent !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-1 .u-btn-2 {
  border-color: transparent !important;
}

.u-section-1 .hover > .u-container-layout .u-btn-2 {
  border-color: transparent !important;
  transform: scale(1) translateY(px) !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 598px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 31px auto 0 0;
}

.u-section-2 .u-line-1 {
  transform-origin: right center;
  margin-top: 23px;
  margin-bottom: 0;
}

.u-section-2 .u-list-1 {
  width: 922px;
  margin: 14px 0 31px auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 460px;
  grid-gap: 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-3 {
  margin: 22px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 19px auto 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-6 {
  margin: 22px 0 0;
}

.u-section-2 .u-text-7 {
  margin: 19px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.25rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1058px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  font-size: 2.26667rem;
  margin: 57px 535px 0 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: repeat(3, auto);
  margin-top: 35px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 698px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-gap: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 23px 30px;
}

.u-section-3 .u-icon-1 {
  height: 36px;
  width: 36px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 8px;
}

.u-section-3 .u-text-2 {
  margin: 24px 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 23px 30px;
}

.u-section-3 .u-icon-2 {
  height: 36px;
  width: 36px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 8px;
}

.u-section-3 .u-text-3 {
  margin: 24px 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 23px 30px;
}

.u-section-3 .u-icon-3 {
  height: 36px;
  width: 36px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 8px;
}

.u-section-3 .u-text-4 {
  margin: 24px 0 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 23px 30px;
}

.u-section-3 .u-icon-4 {
  height: 36px;
  width: 36px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 8px;
}

.u-section-3 .u-text-5 {
  margin: 24px 0 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 23px 30px;
}

.u-section-3 .u-icon-5 {
  height: 36px;
  width: 36px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 8px;
}

.u-section-3 .u-text-6 {
  margin: 24px 0 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 23px 30px;
}

.u-section-3 .u-icon-6 {
  height: 36px;
  width: 36px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 8px;
}

.u-section-3 .u-text-7 {
  margin: 24px 0 0;
}

.u-section-3 .u-container-layout-7 {
  padding: 23px 30px;
}

.u-section-3 .u-icon-7 {
  height: 36px;
  width: 36px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 8px;
}

.u-section-3 .u-text-8 {
  margin: 24px 0 0;
}

.u-section-3 .u-container-layout-8 {
  padding: 23px 30px;
}

.u-section-3 .u-icon-8 {
  height: 36px;
  width: 36px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 8px;
}

.u-section-3 .u-text-9 {
  margin: 24px 0 0;
}

.u-section-3 .u-container-layout-9 {
  padding: 23px 30px;
}

.u-section-3 .u-icon-9 {
  height: 36px;
  width: 36px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 8px;
}

.u-section-3 .u-text-10 {
  margin: 24px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 335px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: -138px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 577px;
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 115px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: -78px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 1115px;
    grid-auto-columns: calc(50% - 5.0000025px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: -18px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    margin-bottom: 42px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 598px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 31px auto 0 0;
}

.u-section-4 .u-line-1 {
  transform-origin: right center;
  margin-top: 23px;
  margin-bottom: 0;
}

.u-section-4 .u-list-1 {
  width: 922px;
  margin: 14px 0 31px auto;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 460px;
  grid-gap: 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 10px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-3 {
  margin: 22px 0 0;
}

.u-section-4 .u-text-4 {
  margin: 19px auto 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-6 {
  margin: 22px 0 0;
}

.u-section-4 .u-text-7 {
  margin: 19px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-list-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-list-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.25rem;
  }
}